@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Globales*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #72a7e4;
  text-decoration: none;
}

a:hover {
  color: #308df3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.inner-page {
  margin: 0;
  padding: 0;
}

.container .col-md-5 {
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

/*Header*/
#header {
  z-index: 997;
  padding: 10px 0;
  background: #213b52;
  transition: all 0.5s ease-in-out;
  position: fixed;
  width: 100%;
}

#header .logo a {
  align-items: center;
  text-decoration: none;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #d2e0ed;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.582);
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #header .logo h1 {
    font-size: 22px;
  }
}

#header .logo h1:hover {
  color: #72a7e4;
  text-shadow: none;
}

#header .logo img {
  display: flex;
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*Navigation Menu*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*Desktop Navigation */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .nav-link:hover,
.navbar .active,
.navbar .active:focus {
  color: #72a7e4;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.582);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 4px 25px 6px 25px;
  margin-left: 30px;
  border-radius: 50px;
  background: #308df3;
  color: white;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  transition: 0ms;
  border: 1px solid rgb(255, 255, 255);
  background: #308df3;
  color: #ffffff;
}
.navbar-list ul {
  display: flex;
  position: fixed;
  top: 55px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  transition: 0.3s;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #00243d;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul a.active:hover,
.navbar .dropdown ul li:hover > a {
  color: #308df3;
}
.navbar .dropdown ul {
  top: 0;
  visibility: hidden;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  left: 105%;
}

@media (max-width: 786px) {
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
  }
  .navbar .dropdown .dropdown ul {
    left: 0;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: auto;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s;
  }
}
/*Carrito*/
.cart-icon {
  font-size: 20px;
  border-radius: 10px;
  height: 30px;
  padding: 5px 8px;
  margin-right: 0rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.2s ease-out;
}
.cart-icon:hover {
  color: #308df3;
  border-color: white;
  transition: all 0.2s ease-in;
}
.overlay {
  position: fixed;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}
#menu-toggle,
#cart-toggle,
.menu-label i {
  display: none;
}
#menu-toggle:checked ~ .overlay {
  display: block;
}
/* Menu Mobile*/
@media (max-width: 1200px) {
  .navbar-list a,
  .navbar-list a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #213b52;
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar ul {
    display: none;
    padding: 10px;
  }
  .navbar-list {
    font-size: 28px;
    transition: 0.5s;
    position: fixed;
    right: 5%;
    top: 9%;
    width: 90%;
    border: 0;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-top: 0px;
    align-items: center;
    padding: 45px 30px;
    gap: 15px;
    z-index: 2;
  }
  .cart-icon {
    height: 27px;
    margin-right: 0rem;
    margin-top: 4px;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }
  .menu-label i {
    display: flex;
    cursor: pointer;
    height: 21px;
    width: 21px;
    color: white;
    font-size: 25px;
    font-weight: 600;
  }
  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  .navbar .getstarted,
  .navbar .getstarted:focus {
    margin: 10px;
    display: block;
    border: 0;
  }
}

/* Hero Section*/
#hero {
  width: 100%;
  padding: 50px 0 0 0;
  background: linear-gradient(
    180deg,
    #213b52 0%,
    rgb(33, 60, 84) 35%,
    rgb(32, 69, 100) 100%
  );
}

#hero h1 {
  margin: 0 0 25px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #d2e0ed;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  #hero h1 {
    text-align: center;
  }
}
#hero h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 22px;
}

#hero .btn-get-started {
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  transition: all ease-in-out 0.3s;
  background: #308df3;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  align-items: center;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  border: 1px solid #fff;
  background: #308df3;
  color: #fff;
}

.boton-piola {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 2px solid #00243d;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #308df3;
}

.boton-piola:hover {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 2px solid;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #00243d;
}

@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    -moz-text-align-last: center;
    text-align-last: center;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*Sección General*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background: linear-gradient(180deg, #eaeff4 0%, rgb(255, 255, 255) 100%);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #213b52;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #d2e0ed;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #308df3;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*Sobre Nosotros*/
.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #213b52;
}

.about .content p {
  margin-bottom: 0;
}

.about .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: #00243d;
}

.about .content .icon-box h4 a {
  color: #00243d;
  transition: 0.3s;
}

.about .content .icon-box h4 a:hover {
  color: #72a7e4;
}

.about .content .icon-box i {
  font-size: 38px;
  float: left;
  color: #308df3;
  margin-left: 10px;
}

.about .content .icon-box p {
  font-size: 15px;
  color: black;
  margin-left: 60px;
}

.about .image {
  background: url("../img/about.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 14px;
  min-height: 400px;
}

@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
  .services .card-body {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}

/*info card*/
#info {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#info h2{
  font-weight: 700;
  font-size: 34px;
  color: #213b52;
}
.info-cards-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.info-card {
  width: 355px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.info-card h3{
  font-size: 20px;
  font-weight: 700;
  color: #00243d;
}
.info-card i{
  font-size: 38px;
  color: #308df3;
}

@media (max-width:1200px){
  #info h2{
    text-align: center;
    width: 80%;
  }
  .info-cards-container{
    max-width: 70%;
  }
}

/*Contacto*/
.contact .info-box {
  color: #444444 ;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0;
  background: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#direccion a{
  text-decoration: none;
}
#correo a{
  text-decoration: none;
}
#guasa a{
  text-decoration: none;
}
.contact .row .row {
  height: 100%;
  align-items: center;
}

.contact .col-lg-6 {
  margin-bottom: 20px;
}

.contact .col-md-6 {
  padding: 10px 10px 0 10px;
  height: 50%;
}

.contact #direccion {
  height: 50%;
}

@media (max-width: 767px) {
  .contact #direccion {
    height: 33.33%;
  }

  .contact .col-md-6 {
    height: 33.33%;
  }
}

.contact .mt-4 {
  margin-top: 0 !important;
}

.contact .cont {
  max-height: 50%;
}

.contact .info-box i {
  font-size: 32px;
  color: #72a7e4;
  border-radius: 50%;
  padding: 0 8px 8px 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #72a7e4;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 8px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .info-box:hover h3,
.contact .info-box:hover p,
.contact .info-box:hover i{
  color: #004696;
}


/*formulario contacto*/
.contact .formulario {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}
.contact .formulario .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .formulario .error-message br+br {
  margin-top: 25px;
}

.contact .formulario .sent-message {
  display: none;
  color: #fff;
  background: #308df3;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .formulario .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .formulario .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #308df3;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .formulario .col-md-6 {
  padding: 2% 2% 0 2%;
}

.contact .formulario input,
.contact .formulario textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.102);
}

.contact .formulario input:hover,
.contact .formulario textarea:hover {
  border: 1px solid #80bdffa6;
}

.contact .formulario #name,
.contact .formulario #email,
.contact .formulario #subject,
.contact .formulario textarea {
  padding: 10px 15px;
  width: 100%;
}

.contact .formulario #name:focus,
.contact .formulario #email:focus,
.contact .formulario #subject:focus,
.contact .formulario textarea:focus {
  outline: none !important;
  border: 1px solid #80bdffa6 !important;
}

.contact .checks {
  margin-bottom: 20px;
}

.contact .form-check {
  margin: 15px 0px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  text-align: center;
  width: 33.333332%;
  cursor: pointer;
}

.contact .form-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.contact .form-check input {
  border-color: rgba(0, 0, 0, 0.301);
  align-items: center;
  margin: 0 10px 0 5px;
  padding: 10px 10px;
  border-radius: 40%;
  cursor: pointer;
  transition: all 0.1s;
}

.contact .form-check input:checked {
  border-radius: 35%;
  background-color: #72a7e4;
  border-color: transparent;
}

.contact .form-check-label p {
  margin-bottom: 0;
}

.contact .formulario button[type=submit] {
  background: #308df3;
  border: 0;
  padding: 10px 60px;
  color: #ffffff;
  transition: 0.4s;
  border-radius: 70px;
}

.contact .formulario button[type=submit]:hover {
  background: #07567a;
}
/*Footer*/
#footer {
  background: url("/img/footer-bg.jpg") fixed center center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  object-fit: cover;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 46, 64, 0.85);
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #72a7e4;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 15px;
  width: calc(100% - 100px);
  border-radius: 15px;
}

#footer .footer-top .footer-newsletter form input[type=email]:focus {
  outline: 1px solid rgba(26, 46, 64, 0.85);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: r;
  color: black;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #72a7e4;
  font-weight: bold;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 24px;
  display: inline-block;
  background: #284864;
  color: #fff;
  line-height: 1;
  padding: 8px 8px;
  margin: 0px 8px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #fff;
  color: #308df3;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #fff;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
}
#footer .credits a{
  text-decoration: none;
  color: white;
}


@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    padding: 5px;
    float: none;
    text-align: center;
  }
}