@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
html {
  box-sizing: border-box;
}
*,*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Globales*/


body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #72a7e4;
  text-decoration: none;
}

a:hover {
  color: #308df3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.inner-page {
  margin: 0;
  padding: 0;
}

.container .col-md-5 {
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

/*Header*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 16px 0;
  background: #213b52;
  transition: all 0.5s ease-in-out;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background: #213b52ea;
  backdrop-filter: blur(5px);
  padding: 10px 10px;
  box-shadow: 0px 0px 15px #213b52;
}

#header .logo a {
  align-items: center;
  text-decoration: none;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #d2e0ed;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.582);
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #header .logo h1{
    font-size: 22px;
  }
}

#header .logo h1:hover {
  color: #72a7e4;
  text-shadow: none;
}

#header .logo img {
  display: flex;
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*Navigation Menu*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*Desktop Navigation */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .nav-link:hover,
.navbar .active,
.navbar .active:focus{
  color: #72a7e4;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.582);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 4px 25px 6px 25px;
  margin-left: 30px;
  border-radius: 50px;
  background: #308df3;
  color: #fff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  transition: 0ms;
  border: 1px solid #fff;
  background: #308df3;
  color: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #00243d;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul a.active:hover,
.navbar .dropdown ul li:hover>a {
  color: #308df3;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}
.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
}



/* Menu Mobile*/
@media (max-width: 1200px) {

  .navbar-list ul {
    display: flex;
    position: fixed;
    top: 55px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s;
  }
  .navbar-list a,
  .navbar-list a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #213b52;
  }
  .navbar-mobile .dropdown ul {
  position: absolute;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #00243d;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul a.active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #308df3;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
  }

}

/* Carrito de compras*/
.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  padding: 5px 8px;
  margin-right: 0rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
}

/*MENU HAMBURGUESA**/
#menu-toggle,
#cart-toggle,
.menu-label i {
  display: none;
}

/*medida Tablet*/
@media (max-width: 1200px) {
  .cart-icon {
    height: 33px;
    margin-right: 0rem;
    margin-top: 4px;
  }
  
  .navbar ul {
    display: none;
    padding: 10px;
  }
  .menu-label i {
    display: flex;
    cursor: pointer;
    height: 21px;
    width: 30px;
    color: white;
    font-size: 25px;
    font-weight: 600;

  }
  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
  .navbar-list {
    font-size: 28px;
    cursor: pointer;
    transition: 0.5s;
    position: fixed;
    right: 5%;
    top: 9%;
    width: 90%;
    border: 0;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-top: 0px;
    align-items: center;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
  } 
}


/* Hero Section*/
#hero {
  width: 100%;
  padding: 50px 0 0 0;
  background: linear-gradient(180deg, #213b52 0%, rgb(33, 60, 84) 35%, rgb(32, 69, 100) 100%);
}

#hero h1 {
  margin: 0 0 25px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #d2e0ed;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 22px;
}

#hero .btn-get-started {
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  transition: all ease-in-out 0.3s;
  background: #308df3;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  align-items: center;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  border: 1px solid #fff;
  background: #308df3;
  color: #fff;
}

.boton-piola {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 2px solid #00243d;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #308df3;
}

.boton-piola:hover {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  border: 2px solid;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #00243d;
  
}

@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    -moz-text-align-last: center;
    text-align-last: center;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*Sección General*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: linear-gradient(180deg, #eaeff4 0%, rgb(255, 255, 255) 100%);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #213b52;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #d2e0ed;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #308df3;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*Sobre Nosotros*/
.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #213b52;
}

.about .content p {
  margin-bottom: 0;
}

.about .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: #00243d;
}

.about .content .icon-box h4 a {
  color: #00243d;
  transition: 0.3s;
}

.about .content .icon-box h4 a:hover {
  color: #72a7e4;
}

.about .content .icon-box i {
  font-size: 38px;
  float: left;
  color: #308df3;
  margin-left: 10px;
}

.about .content .icon-box p {
  font-size: 15px;
  color: black;
  margin-left: 60px;
}

.about .image {
  background: url("../img/about.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 14px;
  min-height: 400px;
}

@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
  .services .card-body {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}

