@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
html {
  box-sizing: border-box;
}
*,*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Globales*/
body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #fdc134;
  text-decoration: none;
}

a:hover {
  color: #fdd067;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.contenedor {
  width: 95%;
  max-width: 120rem; /** = 1200px; **/
  margin: 0 auto;
}
img {
  max-width: 100%;
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  text-align: center;
}


/*Header*/
.site-header {
  transition: all 0.5s;
  padding: 16px 0;
  background-color: #213b52;
}

.site-header .logo a {
  align-items: center;
  display: flex;
  justify-content: center;
}


.site-header .logo img {
  display: flex;
  padding: 0;
  margin: 0;
  max-height: 80px;
}

.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 768px) {
  .contenido-header {
    text-align: left;
  }
}
.contenido-header {
  color: white;

  line-height: 2;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/*Menu*/
/** Navegacion **/
.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}
@media (min-width: 768px) {
  .navegacion a {
    display: inline-block;
    font-size: 1rem; /** = 10px **/
    margin-right: 2rem;
  }
  .navegacion a:last-of-type {
    margin: 0;
  }
}

.navegacion a:hover {
  color: #7394e2;
}

/** Mobile Menu **/
.mobile-menu img {
  width: 5rem;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.navegacion:target {
  display: block;
}
.navegacion {
  display: none;
}
@media (min-width: 768px) {
  .navegacion {
    display: block;
  }
}

.btn button {
  padding: 4px 25px 6px 25px;
  border-radius: 50px;
  background: #308df3;
  color: #fff;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn button:hover{
  transition: 0ms;
  border: 1px solid #fff;
  background: #308df3;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*Hero*/
#hero {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #213b52;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1{ 
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: #d2e0ed; 
  font-family: "poppins", sans-serif;
}

.hero-info p {
  color: #fff;
  font-size: 20px;
  width: 70%;
}

.hero-info a {
  color: white;
  background-color: #308df3;
  width: 170px;
  padding: 8px 35px 10px 35px;
  border-radius: 20px;
  font-size: 17px;
  text-align: center;
}

.hero-img {
  width: 500px;
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
}

/*about section*/
#about {
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
  padding: 60px 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}
.about-info h2{ 
  font-size: 34px;
  width: 80%;
  min-width: 500px;
  font-weight: 700;
  color: #213b52; 
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: flex-start;
}

.about-info p{
  color: black;
  font-size: 20px;
  width: 100%;
}

.imga{
  width: 500px;
  margin-right: 25px;
  border-top-left-radius: 50px;
}